@implements IDisposable
@inject NavigationManager NavigationManager

<div class="sidebar">
    <ul>
        <li>
            <a href="#" class="logo">
                <span class="icon"><i class="fa-solid fa-diamond"></i></span>
                <span class="text">CardPark</span>
            </a>
        </li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <div class="add_listing">
                        <a href="listings/create">
                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                            <span class="text">Add Listing</span>
                        </a>
                    </div>
                </li>
            </Authorized>
        </AuthorizeView>
        <li>
            <a href="/Card_Listings">
                <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                <span class="text">Search</span>
            </a>
        </li>
        <li>
            <a href="/Category">
                <span class="icon"><i class="fa-solid fa-list"></i></span>
                <span class="text">Cards</span>
            </a>
        </li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <a href="Account/Manage">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <span class="text">@context.User.Identity?.Name</span>
                    </a>
                </li>
                <li>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="button">
                            <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>
                            <span class="text">Logout</span>
                        </button>
                    </form>
                </li>
            </Authorized>
            <NotAuthorized>
                <li>
                    <a href="Account/Register">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <span class="text">Register</span>
                    </a>
                </li>
                <li>
                    <a href="Account/Login">
                        <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>
                        <span class="text">Login</span>
                    </a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}