@page "/Account/Profile"

<body>
    <div class="container_1">
        <div class="profile_pic"></div>
        <h1 class="username">MooseLose</h1>
        <p class="user_desc">This user loves mooses</p>
        <div class="user_joined_date">Joined 5y 2m ago</div>
        <div class="user-rating">
            <h3>5.0</h3>
            <i class="fa-solid fa-star star_css" style="font-size: 1.2em;"></i>
        </div>
    </div>
</body>

@code {

}
