@page "/Category"
@rendermode InteractiveServer

<PageTitle>Card Listings</PageTitle>

<div class="search">
    <input class="search-bar" type="search" placeholder="Search" aria-label="Search">
    <button class="search-button" type="submit">Search</button>
</div>
